<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>icon</string>
				<key>name</key>
				<string>白胡子</string>
				<key>model</key>
				<string>4G</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon</string>
				<key>name</key>
				<string>香克斯</string>
				<key>model</key>
				<string>2G</string>
			</dict>
		</array>
		<key>name</key>
		<string>四皇</string>
	</dict>
	<dict>
		<key>name</key>
		<string>团队</string>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>icon</string>
				<key>name</key>
				<string>路飞</string>
				<key>model</key>
				<string>4G</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon</string>
				<key>name</key>
				<string>索隆</string>
				<key>model</key>
				<string>WIFI</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon</string>
				<key>name</key>
				<string>乔巴</string>
				<key>model</key>
				<string>3G</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon</string>
				<key>name</key>
				<string>娜美</string>
				<key>model</key>
				<string>4G</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon</string>
				<key>name</key>
				<string>布鲁克</string>
				<key>model</key>
				<string>4G</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon</string>
				<key>name</key>
				<string>山治</string>
				<key>model</key>
				<string>4G</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon</string>
				<key>name</key>
				<string>乌索普</string>
				<key>model</key>
				<string>4G</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon</string>
				<key>name</key>
				<string>罗宾</string>
				<key>model</key>
				<string>4G</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon</string>
				<key>name</key>
				<string>弗兰奇</string>
				<key>model</key>
				<string>4G</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
